.blog__bannerContainer{
    background-image: url("https://i.ibb.co/zPzBXCh/Grupo-de-desplazamiento-3.png") ;
    /* Set a specific height */
    height: 25vh;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.blog__bannerContainer > h1{
    padding-top: 30px;
    margin-top: 0px;
    color: white;
    margin-left: 60px;
}
.blog h1{
    
    font-size: 2rem;
    
}

.blog__ContentWelcome{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #E6D7F3;
    width: 60vw;
    align-items: center;
    padding: 30px;
    border-radius: 30px;
}
.blog__ContentWelcome > h1{
    color:  #7B2CBF;
    text-align: center;
}
.blog__ContentWelcome > p{
    color: #707070;
    text-align: center;
    margin: unset;
}
.blog__Content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog__Content > h1{
    margin-top: 40px;

}
.blog__ContentBtns{
    margin-top: 40px;
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
}
.blog__ContentBtns> button{
    width: 30%;
    background-color: #7B2CBF;
    color: white;
    padding: 20px;
    border-radius: 10px !important;
    border: 0px;
    font-size: medium;
}
.blog__ContentBtnsMore{
    background-color: white !important;
    color: #7B2CBF !important;
    border: 2px solid #7B2CBF !important;
}
.blog__ContentForm{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 60%;
}
.blog__ContentForm>label{
    font-family: 'Lobster', cursive; 
    color:  #7B2CBF;
    text-align: center;
    font-size: xx-large !important;
}
.blog__ContentForm > input{
    width: 50%;
    min-width: 250px;
    margin-top: 2rem;
    margin-bottom: 20px;
    border-color: #707070;
    outline: none;
    border-radius: 30px;
    padding: 20px;
    border: 1px solid  #707070;
   
}
 #submit{
    min-width: 150px;

    background-color: green;
    width: 30%;
    background-color: #7B2CBF;
    color: white;
    padding: 20px;
    border-radius: 10px !important;
    border: 0px;
    font-size: medium;
}

@media only screen and (max-width: 780px) {
    .blog__ContentBtns {
        margin-top: 40px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blog__ContentBtnsMore{
        margin-bottom: 20px;
    }
    .blog__ContentBtns> button{
        width: 150px;
    }
}
