
.navbar-login__link {
    text-decoration: none !important;
    color:#707070 !important;

}
.navbar-login__link :hover {
    transform: scale(1.1);
    color: rgba(123, 44, 191, .80) !important;
    text-decoration: none !important;
    transition: transform 2s;

}

.navbar-login__linkActive {
    color: #7B2CBF!important ;
    padding: 10px;
    transition: 1s;
    text-decoration: none !important;
}
