.terapias{
    
}

.terapias__bannerContainer{

    background-image: url("https://i.ibb.co/rbFZC6b/Imagen-1.png") ;
    /* Set a specific height */
    height: 35vh;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.terapias__bannerContainer > h1{
    padding-top: 30px;
    margin-top: 0px;
}
.terapias__cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("https://i.ibb.co/J7CmxDd/Grupo-30.png") ;
    /* Set a specific height */

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}